<div class="row">
  <div class="col col-md-4"></div>
  <div class="col col-md-4">
    <form class="form" action="/users" method="POST">
      <div class="row">
        <div class="form-group">
          <label for="UserName">Enter User Name</label>
          <input type="text" class="form-control" name="UserName" id="UserName" aria-describedby="helpId"
            placeholder="">
          <small id="helpId" class="form-text text-muted">Help text for User Name</small>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="Password">Enter Password</label>
          <input type="password" class="form-control" name="Password" id="Password" aria-describedby="helpId"
            placeholder=""></input>
          <small id="helpId" class="form-text text-muted">Help text for description</small>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="Password">Re Enter Password</label>
          <input type="password" class="form-control" name="Password" id="Password" aria-describedby="helpId"
            placeholder=""></input>
          <small id="helpId" class="form-text text-muted">Help text for description</small>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <button type="SUBMIT" class="btn btn-success">Sign Up</button>
        </div>
        &nbsp;
        <div class="form-group">
          <a href="/users" class="btn btn-primary">Sign In</a>
        </div>
      </div>



    </form>
  </div>
  <div class="col col-md-4"></div>

</div>